.list-image-gallery
    .item
        .block-image-gallery
            img.img-full(src=image_1, alt="")
            .bg-hover
            .content
                a.link(href="#")=link_1
                .title=title_1
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_2, alt="")
            .bg-hover
            //- .bg-hover-1
            //- .bg-hover-2
            .content
                a.link(href="#")=link_2
                .title=title_2
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_3, alt="")
            .bg-hover
            //- .overlay-1
            //- .overlay-2
            .content
                a.link(href="#")=link_3
                .title=title_3
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_4, alt="")
            .bg-hover
            //- .line-1
            //- .line-2
            .content
                a.link(href="#")=link_4
                .title=title_4
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    