.slider-syncing-wrapper
    .slider-for
        .item
            a(href="javascript:void(0)")
                img.img-responsive(src=image_1, alt="")
        .item
            a(href="javascript:void(0)")
                img.img-responsive(src=image_2, alt="")
        .item
            a(href="javascript:void(0)")
                img.img-responsive(src=image_3, alt="")
        .item
            a(href="javascript:void(0)")
                img.img-responsive(src=image_4, alt="")
        .item
            a(href="javascript:void(0)")
                img.img-responsive(src=image_5, alt="")
        .item
            a(href="javascript:void(0)")
                img.img-responsive(src=image_6, alt="")
        .item
            a(href="javascript:void(0)")
                img.img-responsive(src=image_7, alt="")
        .item
            a(href="javascript:void(0)")
                img.img-responsive(src=image_8, alt="")
    .slider-nav-wrapper
        .slider-nav
            .item
                a(href="javascript:void(0)")
                    img.img-responsive(src=image_1, alt="")
            .item
                a(href="javascript:void(0)")
                    img.img-responsive(src=image_2, alt="")
            .item
                a(href="javascript:void(0)")
                    img.img-responsive(src=image_3, alt="")
            .item
                a(href="javascript:void(0)")
                    img.img-responsive(src=image_4, alt="")
            .item
                a(href="javascript:void(0)")
                    img.img-responsive(src=image_5, alt="")
            .item
                a(href="javascript:void(0)")
                    img.img-responsive(src=image_6, alt="")
            .item
                a(href="javascript:void(0)")
                    img.img-responsive(src=image_7, alt="")
            .item
                a(href="javascript:void(0)")
                    img.img-responsive(src=image_8, alt="")
