.list-image-gallery
    .item
        .block-image-gallery
            img.img-full(src=image_1, alt="")
            span.bg-hover
            .content
                a.link(href="#")=link_1
                .title=title_1
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_2, alt="")
            span.bg-hover
            .content
                a.link(href="#")=link_2
                .title=title_2
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_3, alt="")
            span.bg-hover
            .content
                a.link(href="#")=link_3
                .title=title_3
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_4, alt="")
            span.bg-hover
            .content
                a.link(href="#")=link_4
                .title=title_4
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_5, alt="")
            span.bg-hover
            .content
                a.link(href="#")=link_5
                .title=title_5
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_6, alt="")
            span.bg-hover
            .content
                a.link(href="#")=link_6
                .title=title_6
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_7, alt="")
            span.bg-hover
            .content
                a.link(href="#")=link_7
                .title=title_7
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src=image_8, alt="")
            span.bg-hover
            .content
                a.link(href="#")=link_8
                .title=title_8
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed